@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }



/* Nav */
nav {
  padding: 5px;
  background-color: #00000099;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center; }

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  word-spacing: 15px; }

nav ul li {
  padding: 10px; }

.navbar-toggler-icon {
  background-color: #FFFFFFCC; }

.nav-link, .nav-link-c {
  font-family: "berlin", Verdana, Tahoma, sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: #FFFFFF; }

.nav-link:hover, .nav-link-c:hover {
  filter: opacity(0.9);
  color: #BAEFFF;
  transform: scale(1.2); }

.nav-link-c {
  padding: 5px;
  background-color: #FFFFFF80; }

.nav-link-c:hover {
  filter: opacity(0.9);
  color: #BAEFFF;
  transform: scale(1.2); }

.active {
  color: #000000;
  background-color: #FFFFFF80;
  padding: 5px; }

/* Media  */
@media (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 70px; }
  nav ul {
    flex-direction: row; }
  nav ul li {
    display: inline-block; }
  .menu {
    display: none; }
  .navbar-collapse {
    background-color: #00000099; } }

/* Fondo de página */
.body {
  background-color: #ffffff; }

.bodyIndex {
  background-image: url(../images/back.index.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/* Inicio */
.bodyIndex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat 3, auto; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; }

.logo {
  width: 70%;
  animation-name: aparicionV;
  animation-duration: 2s;
  animation-timing-function: ease-in; }

.logo:hover {
  filter: opacity(0.9);
  transform: scale(1.05); }

.introduccion {
  width: 80%;
  padding: 10px;
  margin: 20px;
  background-color: #00000080;
  border-radius: 10px; }

.titulo {
  color: #FFFFFF;
  font-family: "berlin", Verdana, Tahoma, sans-serif;
  font-size: 45px;
  text-align: center;
  box-shadow: inset 0 0 0 0 #54b3d67e;
  color: #b2eaffcb;
  padding: 0 5px;
  margin: 0 -5px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out; }

.titulo:hover {
  color: #fff;
  box-shadow: inset 400px 0 0 0 #54b3d67e; }

.contenido {
  color: #FFFFFF;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center; }

/* Media Queri */
@media (min-width: 600px) {
  .titulo:hover {
    box-shadow: inset 500px 0 0 0 #54b3d67e; } }

@media (min-width: 768px) {
  header {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
  .logo {
    width: 50%;
    animation-name: aparicionH; }
  .introduccion {
    width: 90%;
    background-color: #0000008C;
    padding: 5px 20px; }
  .titulo {
    text-align: start; }
  .titulo:hover {
    box-shadow: inset 275px 0 0 0 #54b3d67e; }
  .contenido {
    font-size: 17px;
    font-weight: bold;
    text-align: justify; } }

/* boosters */
.bt2 {
  color: #120101;
  font-size: 5px;
  font-family: Verdana, Tahoma, sans-serif;
  display: grid;
  grid-template-columns: 1fr, 1fr; }

.bt3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  }

.bold {
  width: 50%;
  text-align: center;
  font-size: 13px; 
  
}
  

.bold strong {
  font-size: 25px;
  font-family: "berlin", Verdana, Tahoma, sans-serif; }

.fondop1 img {
  display: none; }

.bt1 {
  width: 50%;
  padding: 5px; }

.fondop2 {
  display: none; }

.fondop2 img {
  width: 40%;
  padding: 5px; }

/* Media Queri */
@media (min-width: 768px) {
  .seccion {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .bt2 {
    display: flex;
    flex-direction: column;
    width:25%;
  
  }
  .bt3 {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; }
  .bold {
    text-align: start; }
  .fondop1 img {
    display: flex;
    width: 70%;
    padding: 5px; }
  .bt1 {
    width: 40%;
    padding: 5px; }
  .fondop2 {
    display: flex;
    justify-content: end; }
  .fondop2 img {
    display: flex;
    width: 50%;
    padding: 5px; } }

/* coaching */
.ch2 {
  color: #FFFFFF;
  font-size: 15px;
  font-family: Verdana, Tahoma, sans-serif;
  display: flex;
  flex-direction: column; 
  }
 
.ElSwagger {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center; 

}
  

.seccionA {
  display: flex;
  flex-direction: row;
  align-items: center;
 
   

}


/* Media Queri */
@media (min-width: 768px) {
  .ch2 {
    color: #020000;
    font-size: 5px;
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: row; }
  .ElSwagger {
    flex-direction: row;
    justify-content: start;
    align-items: start; } }

/* Galeria */
.galery {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense; }

.galery img:hover {
  filter: opacity(0.9);
  transform: scale(1.05); }

.galery img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  transition-duration: 0.5s; }

.plus {
  grid-column: span 2; }

.img-1 {
  animation-name: aparicionV;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.img-2 {
  animation-name: aparicionH;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.img-3 {
  animation-name: aparicionH;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.img-4 {
  animation-name: aparicionV;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.img-5 {
  animation-name: aparicionV;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.img-6 {
  animation-name: aparicionH;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.img-7 {
  animation-name: aparicionH;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.img-8 {
  animation-name: aparicionH;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.img-9 {
  animation-name: aparicionH;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.img-10 {
  animation-name: aparicionH;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.img-11 {
  animation-name: aparicionH;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.img-12 {
  animation-name: aparicionH;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.img-13 {
  animation-name: aparicionH;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.img-14 {
  animation-name: aparicionH;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.img-15 {
  animation-name: aparicionH;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.img-16 {
  animation-name: aparicionH;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

/* Media Queri */
@media (min-width: 768px) {
  .galery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
 "img-1 img-1 img-2 img-3"
 "img-1 img-1 img-6 img-6"
 "img-4 img-5 img-6 img-6"
 "img-7 img-8 img-9 img-10"
 "img-11 img-12 img-13 img-14"
 "img-15 img-15 img-16 img-16"
 "img-15 img-15 img-16 img-16"; }
 .img-1 {
  grid-area: img-1;
  animation-name: aparicionV;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }
.img-2 {
  grid-area: img-2;
  animation-name: aparicionH2;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out; }
.img-3 {
  grid-area: img-3;
  animation-name: aparicionV;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }
.img-4 {
  grid-area: img-4;
  animation-name: aparicionH;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }
.img-5 {
  grid-area: img-5;
  animation-name: aparicionH2;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out; }
.img-6 {
  grid-area: img-6;
  animation-name: aparicionH2;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }
.img-7 {
  grid-area: img-7;
  animation-name: aparicionH;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }
.img-8 {
  grid-area: img-8;
  animation-name: aparicionH2;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }
.img-9 {
  grid-area: img-9;
  animation-name: aparicionH;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }
.img-10 {
  grid-area: img-10;
  animation-name: aparicionH2;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }
.img-11 {
  grid-area: img-11;
  animation-name: aparicionH2;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }
.img-12 {
  grid-area: img-12;
  animation-name: aparicionH;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }
.img-13 {
  grid-area: img-13;
  animation-name: aparicionH2;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }
.img-14 {
  grid-area: img-14;
  animation-name: aparicionH;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }
.img-15 {
  grid-area: img-15;
  animation-name: aparicionV2;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }
.img-16 {
  grid-area: img-16;
  animation-name: aparicionH;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out; } }

/* Contacto */
.mainC {
  display: grid;
  grid-template-columns: 1, 1fr;
  justify-items: center;
  text-align: center;
  padding-bottom: 10px; }

.fondoC1 {
  display: none; }

.fondoC2 {
  width: 100%;
  padding-bottom: 15px; }

.ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 15px; }

.mapa {
  width: 100%;
  height: 350px;
  padding: 15px;
  border-radius: 40px;
  transition-duration: 1s; }

.mapa:hover {
  filter: opacity(0.9);
  transform: scale(1.05); }

.contacto {
  background-color: #464869;
  width: 100%;
  padding: 10px; }

.boldC {
  font-size: 20px;
  font-family: "myriad", Verdana, Tahoma, sans-serif;
  color: #000000; }

.boldC strong {
  font-size: 25px;
  font-family: "candara", Verdana, Tahoma, sans-serif;
  color: #000000; }

h3 {
  font-size: 30px;
  font-family: "candara", Verdana, Tahoma, sans-serif;
  color: #FFFFFF;
  padding: 5px 30px 5px 5px; }

.formulario {
  display: grid;
  grid-template-columns: 1, 1fr;
  width: 100%; }

.formularioC {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%; }

.casilla {
  font-size: 20px;
  font-family: "myriad", Verdana, Tahoma, sans-serif;
  background-color: #1C244D;
  color: #FFFFFF;
  margin: 5px;
  width: 90%; }

.casilla2 {
  font-size: 25px;
  font-family: "berlin", Verdana, Tahoma, sans-serif;
  background-color: #101538;
  color: #FFFFFF;
  border-radius: 5px; }

.casilla2:hover {
  filter: opacity(0.8);
  transform: scale(1.03); }

.mensaje textarea {
  width: 90%;
  height: 100px; }

.enlaces {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px; }

.logoRed:hover {
  filter: opacity(0.8);
  transform: scale(1.1); }

.logoRed {
  width: 40%; }

/* Media Queri */
@media (min-width: 991px) {
  .mainC {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .fondoC1 {
    display: flex;
    width: 80%;
    height: 100%; }
  .fondoC2 {
    width: 90%;
    padding: 10px; }
  .ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
  .mapa {
    width: 400px;
    height: 250px;
    border-radius: 30px; }
  .contactoZona2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #464869;
    width: 90%;
    padding: 10px;
    border-radius: 15px; }
  .formularioZ, .formularioC {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .formulario {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .logoRed {
    width: 35%; } }

/* Pie de página */
.pieIndex {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0; }

.footerP {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0; }

.footerP img {
  width: 100%; }

.textoPie {
  margin: 0 !important;
  padding: 5px;
  background-color: #00000099;
  text-align: center;
  font-family: "myriad", Verdana, Tahoma, sans-serif;
  font-size: 15px;
  color: #FFFFFFB3; }

.textoPie strong {
  font-family: "myriadBold", Verdana, Tahoma, sans-serif; }

/* Media Queri */
@media (min-width: 768px) {
  .pieIndex {
    position: absolute; }
  .textoPie {
    font-size: 25px; } }

/* Animaciones */
@keyframes aparicionH {
  0% {
    transform: translateX(-500px); }
  100% {
    transform: translateX(0); } }

@keyframes aparicionH2 {
  0% {
    transform: translateX(1500px); }
  100% {
    transform: translateX(0); } }

@keyframes aparicionV {
  0% {
    transform: translateY(-400px); }
  100% {
    transform: translateX(0); } }

@keyframes aparicionV2 {
  0% {
    transform: translateY(1500px); }
  100% {
    transform: translateX(0); } }

@keyframes aparicionV3 {
  0% {
    transform: translateY(-1500px); }
  100% {
    transform: translateX(0); } }